*
!.gitignore
!.gitconfig
!.cargo/
!.cargo/config.toml
!.config/
!.config/fish/
!.config/fish/config.fish
!.config/gitui/
!.config/gitui/key_bindings.ron
!.config/helix/
!.config/helix/config.toml
!.config/helix/languages.toml
!.config/jj/
!.config/jj/config.toml
!.config/opencode/
!.config/opencode/opencode.json
!.config/starship.toml
!.config/wezterm/
!.config/wezterm/wezterm.lua
!.config/zed/
!.config/zed/settings.json
